@font-face {
    font-family: "Raleway-300";
    src: url("./assets/fonts/raleway-latin-300.woff") format('woff');
}

@font-face {
    font-family: "Raleway-300-Italic";
    src: url("./assets/fonts/raleway-latin-300italic.woff") format('woff');
}

@font-face {
    font-family: "Raleway-500";
    src: url("./assets/fonts/raleway-latin-500.woff") format('woff');
}

@font-face {
    font-family: "Raleway-700";
    src: url("./assets/fonts/raleway-latin-700.woff") format('woff');
}

$font-primary-light:         'Raleway-300';
$font-primary-light-italic:  'Raleway-300-Italic';
$font-primary-regular:       'Raleway-500';
$font-primary-bold:          'Raleway-700';
